{% extends 'my_track/base.html'%}
{% load bootstrap3 %}
{% block content %}

<div class="container">
 
    <div class="row" id="ro" style="background-color:azure">
      <h2 style="text-align: center">Business directory</h2> 
    <!-- Looping through news   -->
    <a href="{% url 'hoodform' %}" style="font-size:16px;color: rgb(31, 30, 30);float:left;"></a><button type="button" class="btn btn-default" >Edit neighbourhood</button></a>
    
    
      <!-- displaying images -->
      <div class="col-md-4">
       
        {% for awards in hood %}
        <!-- <div class="w3-panel w3-card-2"> -->
      <h3>{{awards.name}}</h3>
      <h3>{{awards.location}}</h3>
      <h3>{{awards.occupant}}</h3>

    <!-- </div> -->
      {% endfor %}
   
    </div>
   
    
  </div>
  </div>
  {% endblock %}