{% extends 'my_track/base.html'%}
{% load bootstrap3 %}
{% block content %}

<div class="container">
 
    <div class="row" id="ro" style="background-color:azure">
      <h2 style="text-align: center">Business directory</h2> 
    <!-- Looping through news   -->
    {% for awards in hood %}
    
      <!-- displaying images -->
    <div class="col-md-4">
      <h3 href="{{awards.name}}"></h3>
      
    </div>
  
    
  
   
  
    {% empty %}
    <div class="row">
      
    </div>
    {% endfor %}
  </div>
  </div>
  {% endblock %}