{% extends 'my_track/base.html'%}
{% load bootstrap3% }
{% block content %} 
{{ block.super}}
<style>
    #mySidenav a {
      position: absolute;
      left: -80px;
      transition: 0.3s;
      padding: 15px;
      width: 100px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      border-radius: 0 5px 5px 0;
    }
    
    #mySidenav a:hover {
      left: 0;
    }
    
    #Home {
      top: 20px;
      background-color: #555;
    }
    
    #Profile {
      top: 80px;
      background-color: #555;
    }
    
    #Business {
      top: 140px;
      background-color: #555;
    }
    
    #contact {
      top: 200px;
      background-color: #555
    }
    </style>

<p class="p"style="width:1283px;height:700px;background-image: url(https://i.pinimg.com/originals/be/28/e0/be28e0b73e0f14fc82e71e1995330ec9.jpg);background-size:cover"></p>

<div id="mySidenav" class="sidenav">
    <a href="{%url 'get'%}" id="Home">Home</a>
    <a href="{%url 'profile'%}" id="Profile">Profile</a>
    <a href="{%url 'new_post'%}" id="Business">Business</a>
    <a href="#" id="contact">Contact</a>
  </div>

<div class="container">
 
  <div class="row" id="ro" style="background-color:azure">
    <h2 style="text-align: center">Business directory</h2> 
  <!-- Looping through news   -->
  {% for awards in images %}
  
    <!-- displaying images -->
  <div class="col-md-4">
    <img src="{{awards.image.url}}" class="img-responsive"alt="Image" width="500" height="500">
    <h4><strong>{{awards.name}}</strong></h4>
  </div>

  

 

  {% empty %}
  <div class="row">
    
  </div>
  {% endfor %}
</div>
</div>
<br><br>

<div class="container">
 
  <div class="row" id="ro" style="background-color:azure">
    <h2 style="text-align: center">Neighbourhood directory</h2> 
  <!-- Looping through news   -->
  {% for awards in images %}
  
    <!-- displaying images -->
  <div class="col-md-4">
    <img src="{{awards.image.url}}" class="img-responsive"alt="Image" width="500" height="500">
    <h4><strong>{{awards.name}}</strong></h4>
  </div>

  

 

  {% empty %}
  <div class="row">
    
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}